@font-face {
    font-family: 'tt-medium';
    font-size: 28px;
    src: url('../src/fonts/font/TTLakes-Medium.woff') format('woff');
    
}

@font-face {
    font-family: -'tt-bold';
    src: url('../src/fonts/font/TTLakesCondensed-Bold.woff') format('woff');
}

