@import "./var";

.order-headen{
    display: none;
}

.feedback-headen {
    display: none;
}

.left-menu-headen {
    display: none;
    @media screen and (width>1140px) {
        display: block;   
        opacity: 1;
        transition: all 1s;     
    }
}
.li__headen {
    display: none;
}

.headen {
    display: none;
}

.navigation_headen-110 {
    display: block;
    @media screen and (width> 1140px) {
        display: none;
    }
}

.navigation_headen-320 {
    display: none;
    @media screen and (width>768px) {
        display: block;
        @media screen and (width> 1140px) {
        display: none;
    }
    }
}

.more-headen {
    margin-top: 25px;
    display: none;
    @media screen and (width>768px) and (width<1140px) {
        display: block;
    }
}