@import "./var";

.swiper-menu {
    width: 100%;
    @media screen and (width:1140px) {
        justify-self: start;
        overflow: hidden;
    }
}
.swiper-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    @media screen and (width >1000px) {
        justify-content: start;
        padding: 0;
    }

}
.swiper-menu__ul {
    @media screen and (width>1000px) {
        padding: 0;        
    }
}

.swiper-slide {
    width: auto;
    @media screen and (width>1000px) {
        margin-right: 50px;
    }

}

.swiper-menu__li {
     @media screen and (width>1000px) {
        margin-right: 30px;
    }

}
.swiper-menu__a {
    display: block;
    width: fit-content;

    vertical-align: middle;
    padding: 5px 15px;
    &:hover {
        border: $divider solid 2px;
        border-radius: 6px;
    }
}