@import "./var";

.show {
    width: 10px;
    height: 10px;
    background-image: url('../src/img/menu_logo/icon_down.svg');
    background-repeat: no-repeat;
    position: absolute;
    left: 25px;
    transition: all .3s;
}
.show__tech::before, .show__brands::before {
        content: "Показать еще";
        width: 300px;
        height: 700px;
        position: absolute;
        left: 15px;
    }


.show__brands {
    height: 230px;

}

.show__tech {
@media screen and (width>1140px) {
    display: none;
}
}
.show_plus {
    width: 10px;
    height: 10px;
    background-image: url('../src/img/menu_logo/icon_down.svg');
    background-repeat: no-repeat;
    position: relative;
    left: 25px;
    transform: rotate(180deg);
    transition: all .3s;
    &::before {
        content: "скрыть";
        position: absolute;
        // background-color: red;
        left: -310px;
        top: -685px;
        transform: rotate(180deg);
    }
}