@import "./var";
@import "../libs/normalize";

html {
    // box-sizing: border-box;
}

.body {
    min-width: 320px;
    width: 90%;
    height: 700px;
}
.border {
    border: 1px solid black;
}
.headen {
    display: none;
    @media screen and (width>768px) {
        display: block;
    }
} 

.navigation__div, .menu-section__navigation {

    display: flex;
    width: 100%;
    height: 88px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
}
.navigation_opacity {
    opacity: .085;
}
.menu-section {
    opacity: 0;
    background-color: #fff;
    max-width: 360px;
    min-width: 320px;
}
.menu-section__navigation {
    max-width: 360px;
    
    > .navigation__img {
        margin-left: 5px;
        margin-right: 5px;
    }
    > .navigation__logo {
        margin: 0;
        transform: translateX(-75px);
    }
    &:last-child() {
        margin-left: 0;
    }
    > .navigation__img:hover {
        opacity: .5;
        transition: all .3s;
        }
}

.navigation__img {
    position: relative;
    background-color: #ff3e79;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    &:first-child{
        margin-left: 10px;
   }
   &:last-child{
        margin-right: 16px;
        margin-left: 2%;
   }
   &:hover:active {
    transition: all .5s;
    transform: scale(1.2);
   }
           &:hover {
            transition: all .5s;
            opacity: .5;
        }
}
 .navigation__image {
    position: relative;
    top: 25%;
    left: 25%;
  }
  .navigation__logo {
    margin-left: min(3%, 15%);
  }
  .navigation__divider {
    height: 32px;
    margin-left: auto;
    margin-right: 3%;
    position: relative;
    top: -5px;
}
.navigation__title{
    background-color: $b-col;
    margin: 0;
    height: 80px;
    padding-top: 5px;
     & {
        margin: 0;
        font-family: $tt-m;
        padding-left: 16px;
        &::after{
            content: "";
            width: 4px;
            height: 40px;
            background-color: $divider;
            position: absolute;
            top: 110px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            left: 1px;
        }
    }
}
.swiper-menu{
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $b-col;
    width: 100%;
    &__ul {
        padding: 0;
        padding-left: 16px;
        display: flex;
        flex-wrap: nowrap;
        width: 50%;      
    }
    &__a {
        text-decoration: none;
        color: #7e7e82;
        font-family: $tt-m;
    }
    &__li  {
        width: auto;
        display: block;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
       
        &:last-child {
            margin-right: 55px;
        }
        &:hover{
            border: $border_text solid 2px;
        }
        &:focus {
            border: $border_text solid 2px;
        }
    }
}
.swiper-slide {
    width: auto;
    overflow: hidden;
}
 .menu-section {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
 }

.menu-section__ul {
    list-style: none;
    margin: 15px;
    margin-left: -20px;
    > .menu-section__li {
        vertical-align: bottom;
    }    
  > .menu-section__li {
    // padding-bottom: 5px;
  }
}
.menu-section__a{
        display: block;
        margin: 15px 0;
        text-decoration: none;
        font-family: $tt-m;
        font-size: 16px;
        color: $col_menu;
        vertical-align: bottom;
    &:hover::before { 
        content: "";
        width: 4px;
        height: 25px;
        background-color: $divider;
        transform: translateX(10px);
        position: absolute;
        left: -5px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;    
    }
    &:hover {
    color: $col_menu-hov;
  }
    }

  .menu_navigation {
    margin-top: 30px;
    display: flex;
    > .navigation__img {
        margin-left: 20px;
    }
  }
.contacts {
    margin-left: 25px;
    &__a {
        font-family: $tt-m;
        display: block;
        text-decoration: none;
        color: $col_menu;
        margin-top: 15px;
        &:last-child {
            font-family: $tt-b;
            font-size: 24px;
        }
        &:hover{
            color: $col_menu-hov;
        }
    }
}
.lang {
    margin: 10px 25px;
    &__a {
        text-decoration: none;
        font-family: $tt-m;
        color: $col_menu;
        &:hover {
            color: $col_menu-hov;
        }
    }
}

