@import "./var";

.tehnics {
}
.tehnics__title {
}
.tehnics__h2 {
}
.swiper-tehnics {
}
.swiper-wrapper {
}
.tehnics__ul {
    @media screen and (width>1140px) {
        gap: 10px;
        margin: 15px 0;
        width: 100%;

    }
}
.swiper-slide {
}
.tehnics__li {
    width: 240px;
    height: 160px;
    margin-right: 20px;
}
.tehnics__div {
    align-self: flex-end;
    margin-bottom: 16px;
}
.tehnic__div {
    align-self: flex-start;
    margin: 16px;
}
.swiper-pagination {
}