@import './fonts';

$body-color: rgba(97, 253, 0, 0.312);
$b-i-col: #ff3e79;
$tt-m: 'tt-medium';
$tt-b: 'tt-bold';
$bb-col: #3e3d3d;
$b-col: #f8f8f8;

$divider: #41f6d7;
$border_text: #b8ffec;
$col_menu: #1b1c21;
$col_menu-hov: #7e7e82;
$form-border-color: #eaeaea;



